* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projecten {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foto {
    width: 50px;
    height: 50px;
}

.beschrijving {
    margin-bottom: 50px;
    padding-top: 300px;
}

.header {
    font-size: 50px;
    padding: 20px;
}

.p {
    margin-top: 40px;
    font-size: 20px;
    background: #eee;
    border-radius: 50%;
    width: 500px;
    height: 100px;
}